import(stats,survival,penalized, Iso, methods,graph, glmnet, mvtnorm)
importFrom("stats","cutree", "dist", "formula", "glm", "cov",
             "hclust", "model.matrix", "optim", "rnorm", "uniroot")
exportPattern("^[[:alpha:]]+")
